.container{
    background-color: bisque;
    height: 700px;
    width: 700px;
    margin-left: 500px;
}
.box1{
    background-color: black;
    color: white;
    position: relative;
    left: 50px;
    top: 50px;
    height: 300px;
    width: 300px;
}